# Environment variables - contains secrets!
.env

# IDE and OS files
.idea/
.vscode/
*.DS_Store

# Data generated and managed by Docker volumes.
# Use the backup/restore scripts for this data.
__pycache__/